@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/Ubuntu-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/Ubuntu-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/Ubuntu-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* ใช้งานฟอนต์ */
body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
}



.main-bg{
  background-color: hsl(206, 94%, 87%);
  width: 375px;
  height: 90vh;
  position: relative;
  font-family: 'Ubuntu';
}

.bar-progress-bg {
  background-image: url('/images/bg-sidebar-mobile.svg'); /* ปรับ path ให้ถูกต้อง */
  background-size: cover; /* ปรับให้เต็มพื้นที่ */
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 200px; /* ปรับตามต้องการ */
  display: flex;
  justify-content: center;
}


.next-section-bg{
  background-color: white;
  width: 375px;
  height: 10vh; /* ปรับตามต้องการ */
  display: flex;
  justify-content: space-between;
}

.space-button{
  background-color: hsl(0, 0%, 100%);
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.next-button{
  background-color: hsl(213, 96%, 18%);
  width: 100px;
  height: 40px;
  color: white;
  border-radius: 5px;
}

.back-button{
  background-color: transparent;
  color: hsl(231, 11%, 63%);
  border: none;
}

.input-space-bg{
  width: 340px;
  height: 350px;
  background-color: hsl(231, 100%, 99%);
  position: absolute;
  left: 16px;
  top: 120px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.bar-progress-container {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  width: 300px;
  height: 120px;
}

.step-container {
  display: flex;
  align-items: center;
}

.step-circle {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: transparent;
  color: white;
  font-weight: bold;
  border:2px solid hsl(231, 100%, 99%);
}

.step-circle.active {
  background-color: hsl(206, 94%, 87%);
  color: hsl(213, 96%, 18%);
  border:2px solid hsl(206, 94%, 87%);
}

.step-line {
  width: 50px;
  height: 5px;
  background-color: gray;
}

.step-line.active {
  background-color: hsl(243, 100%, 62%)
}

.header{
  font-family: 'Ubuntu';
}


.description{
  color: hsl(231, 11%, 63%);
  font-family: 'Ubuntu';
}