
body {
  font-family: 'Ubuntu';
  margin: 0;
  padding: 0;
}



@font-face {
  font-family: 'Ubuntu';
  src: url('/my-multi-step-form/public/fonts/Ubuntu-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('/my-multi-step-form/public/fonts/Ubuntu-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('/my-multi-step-form//public/fonts/Ubuntu-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}



.form-container {
  width: 80%;
  max-width: 500px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* ชื่อหัวข้อ */
.header {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

/* คำอธิบาย */
.description {
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
  color: #555;
}




.input-space-bg  {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* ทำให้มันดูมีเงา */
  width: 100%;
  max-width: 500px; /* ให้ขนาดฟอร์มไม่เกินนี้ */
}

.header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.description {
  font-size: 14px;
  margin-bottom: 20px;
  text-align: center;
}


.input-top-label {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.input-top-label label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  color: #333;
}

.input-top-label input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;

}

.input-top-label input:focus {
  border-color: #007bff;
  outline: none;
}
